
#ignore thumbnails created by windows
Thumbs.db

*.log

*.bak

*.watch

*.zip
*.*_c
*.log*
*HisLog.mdb
*.HisLogEx

Copia*.*
*orig

LOGS/LastInteraction.xml
LOGS/*
IMAGES/*
DLOGGERS/*
ALARM/*.alr
DATA/*.var
RESOURCES/GUALINI2_C02515/Esempi/*
